  
  .add-toy-form{
    width: 50%;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
  }
  
  
  .add-toy-form label {
    display: block;
    text-align: center;
    padding: 0.5rem 0;
    width: 100%;
  }
  
  .add-toy-form button {
    margin-top: 0.5rem;
    width: 30%;
    height: 2rem;
    font-weight: 700;
    font-size: 1rem;
    color: #0f3e4f;
  }

  input{
    padding: 5px;
  }

  button:hover{
    cursor: pointer;
  }

  .add-toys{
    display: flex;
    flex-direction: column;
  }