.nav-bar{
    border-bottom: 1px solid grey;
    background-color: #2B677C;
    height: 100px;
    display: flex;
    justify-content: space-between;
}

.nav-bar>*{
    background-color: #2B677C;
}

.nav-bar > img {
    height: 80px;
    width: auto;
    margin: 10px;
}

.nav-bar > ul {
    display: flex;
    list-style-type: none;
    margin-top: 0px;
}

li{
    background-color: #2B677C;
    margin-top: 40px;
}

li>*>*{
    background-color: #2B677C;
}

li > a{
    background-color: #2B677C;
    color: #FFC93C;
    text-decoration: none;
    padding: 20px;
    margin: 10px;
}

.logout-link {
    background-color: #2b677c;
    color: #ffc93c;
    text-decoration: none;
    padding: 0px;
    margin: 0px 100px 10px; 
  }

.navbar-profile-icon>*{
    color:#FFC93C;
    margin-top: 40px;
}

.navbar-profile-icon>a{
    list-style-type: none;
    text-decoration: none;

}

@media screen and (max-width: 768px){
    .nav-bar{
        display: block;
        background-color: #2B677C;
    }
    .nav-bar>ul{
        display: block;
        margin-bottom: 200px;
    }
}
