.register-container {
    max-width: 400px;
    margin: 20px auto;
    padding: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
  }
  
  .register-container>*{
    background-color: white;
  }

  .register-container h2 {
    margin-bottom: 20px;
  }

  .register-container input {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
 
  .register-container button {
    width: 105%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #FFC93C;
    color: #fff;
    cursor: pointer;
  }

  .register-container button:hover {
    background-color: #FFC93C;
  }
  
  .register-container .alert {
    margin-top: 15px;
    padding: 10px;
    border-radius: 5px;
  }

  .register-container .alert.success {
    background-color: #dff0d8;
    border-color: #d0e9c6;
    color: #3c763d;
  }
  
  .register-container .alert.error {
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442
  }

  @media screen and (max-width:786px){
    .register-container{
        margin-top: 300px;
    }
  }