.sidebar {
  background-color: #2B677C;
  height: 100%;
  box-sizing: border-box;
  right: 0;
}

.sidebar-heading {
  padding: 0 .1rem;
}

.sidebar-links {
  list-style: none;
  text-decoration: none;
  padding: 0 .1rem;
  text-align: left;
}

.sidebar-links-item {
  text-decoration: none;
  padding: 0.1rem 0;

}

.sidebar-links-item a {
  text-decoration: none;
  color: #FFC93C;
  width: 100%;
  display: block;
}

.sidebar-links-item a:hover {
  color: white;
}

.clear-filter {
  font-weight: 700;
}

.sidebar-search {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 0.1 rem;
  align-items: center;
}

.sidebar-search input {
  width: 70%;
  height: 24px;
  padding: 0.1 rem;
  box-sizing: border-box;
}

.sidebar-search button {
  width: 20%;
  height: 24px;
  margin: 0;
  padding: 0;
}