.toy-cards{
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.button{
    background-color: #FFC93C
}

h2{
    text-align: center;
    margin-top: 20px;
}

.toys{
    display: grid;
    grid-template-columns: 15% 5fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "nav-bar nav-bar"
      "sidebar toys-display"
      "sidebar toys-display"
  }


